{% extends "base.html" %}

{% block title %}Carrito{% endblock %}

{% block content %}

<section class="carrito-container">

<h2>🛒 Carrito de Compras</h2>

{% if carrito %}

<table class="tabla-carrito">
    <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Acción</th>
    </tr>

    {% for p in carrito %}
    <tr>
        <td>{{ p.modelo }}</td>
        <td>${{ p.precio }}</td>
        <td>
            <a href="{{ url_for('eliminar_carrito', index=loop.index0) }}" class="btn-eliminar">
                ❌
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<h3>Total: ${{ total }}</h3>

<div class="acciones-carrito">

    <a href="/producto" class="btn-seguir">
        🛍️ Seguir comprando
    </a>

    <a href="/vaciar_carrito" class="btn-vaciar">
        🗑️ Vaciar carrito
    </a>

</div>

<form method="POST" action="/comprar">
    <input type="text" name="nombre" placeholder="Nombre" required>
    <input type="email" name="email" placeholder="Correo" required>

    <button type="submit" class="btn-comprar">
        Finalizar compra
    </button>
</form>
{% else %}

<p style="text-align:center;">Tu carrito está vacío</p>

{% endif %}

</section>

{% endblock %}