{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div style="background: #d4edda; padding: 10px; color: #155724; margin-bottom: 10px;">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
{% extends 'base.html' %}

{% block content %}

<h2 style="text-align:center;">Base de Datos MySQL</h2>

<div style="text-align:center; margin-bottom:20px;">
    <a href="{{ url_for('reporte_pdf') }}" class="btn-carrito">
        📄 Descargar Reporte PDF
    </a>
</div>

<!-- ================= PRODUCTOS MYSQL ================= -->

<h3>Inventario MySQL</h3>

<form method="POST" action="/agregar_producto_mysql">
<input type="hidden" name="id_producto"
value="{{ producto_editar[0] if producto_editar }}">

<input type="text" name="modelo"
value="{{ producto_editar[1] if producto_editar }}" placeholder="Modelo" required>

<input type="text" name="coleccion"
value="{{ producto_editar[2] if producto_editar }}" placeholder="Colección" required>

<input type="text" name="material"
value="{{ producto_editar[3] if producto_editar }}" placeholder="Material" required>

<input type="text" name="peso"
value="{{ producto_editar[4] if producto_editar }}" placeholder="Peso" required>

<input type="number" name="cantidad"
value="{{ producto_editar[5] if producto_editar }}" placeholder="Cantidad" required>

<input type="number" step="0.01" name="precio"
value="{{ producto_editar[6] if producto_editar }}" placeholder="Precio" required>
<button type="submit">
    {% if producto_editar %}
        Actualizar Producto
    {% else %}
        Agregar Producto
    {% endif %}
</button>

</form>

<br>

<table border="1" style="width:90%; text-align:center;">

<tr>
<th>ID</th>
<th>Modelo</th>
<th>Colección</th>
<th>Material</th>
<th>Peso</th>
<th>Cantidad</th>
<th>Precio</th>
<th>Acciones</th>
</tr>

{% for p in productos %}

<tr>

<td>{{p[0]}}</td>
<td>{{p[1]}}</td>
<td>{{p[2]}}</td>
<td>{{p[3]}}</td>
<td>{{p[4]}}</td>
<td>{{p[5]}}</td>
<td>{{p[6]}}</td>

<td>
<a href="/eliminar_producto_mysql/{{p[0]}}">Eliminar</a>
<a href="/mysql?editar={{ p[0] }}">Editar</a>

</td>

</tr>

{% endfor %}

</table>

<br><br>

<!-- ================= USUARIOS MYSQL ================= -->

<h3>Usuarios</h3>

<h3>Agregar / Editar Usuario</h3>

<form method="POST" action="/agregar_usuario_mysql">

<input type="hidden" name="id_usuario" value="{{ usuario_editar[0] if usuario_editar }}">

<input type="text" name="nombre"
value="{{ usuario_editar[1] if usuario_editar }}" placeholder="Nombre" required>

<input type="email" name="email"
value="{{ usuario_editar[2] if usuario_editar }}" placeholder="Email" required>

<input type="password" name="password"
value="{{ usuario_editar[3] if usuario_editar }}" placeholder="Password" required>

<button type="submit">Agregar usuario</button>


</form>

<br>

<table border="1" style="width:70%; text-align:center;">

<tr>
<th>ID</th>
<th>Nombre</th>
<th>Email</th>
<th>Password</th>
<th>Acciones</th>
</tr>

{% for u in usuarios %}

<tr>

<td>{{u[0]}}</td>
<td>{{u[1]}}</td>
<td>{{u[2]}}</td>
<td>********</td>

<td>

<a href="/eliminar_usuario_mysql/{{u[0]}}">Eliminar</a>


</td>

</tr>

{% endfor %}

</table>

{% endblock %}